
<div ng-show="look">

    <div class="row">
        <div class="col-xs-1 visible-xs">
            &nbsp;
         </div>   
         <div class="col-lg-10">
            <h4>{{look.item.name}}</h4>
         </div>   
    </div>
    <div class="row">
        <span id="imgLook" data-ng-repeat="lookImage in look.item.images" class="col-lg-3 col-sm-6 ">
            <a href="#/look/{{look.item.lookId}}/photo/{{$index+1}}">
                <img data-img-preloader="lookImage" alt="{{lookImage}}" src="img/spinner.gif" class="img-responsive center-block"/>
            </a>
        </span>
    </div>
    <div class="row">
        <div class="col-xs-1 visible-xs">
            &nbsp;
         </div>   
         <div class="col-lg-10">
           <div>{{look.item.details}}</div>
            <div>{{look.item.composizione}}</div>
            <ul>
               <li data-ng-repeat="lookDetail in look.item.modelDetails">
                {{lookDetail}}
              </li>
            </ul>
         </div>   
    </div> 
       
</div>
</div>