@charset "UTF-8";
/** color palette **/
/** vars **/
/** web fonts **/
@font-face {
  font-family: 'knockout49';
  src: url("../../fonts/KNOCK49L.eot");
  src: local("☺"), url("../../fonts/KNOCK49L.woff") format("woff"), url("../../fonts/KNOCK49L.ttf") format("truetype"), url("../fonts/KNOCK49L.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'knockout49';
  src: url("../../fonts/KNOCK49L.eot") format("embedded-opentype"), url("../../fonts/KNOCK49L.woff") format("woff"), url("../../fonts/KNOCK49L.ttf") format("truetype"), url("../fonts/KNOCK49L.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'knockout29';
  src: url("../../fonts/KNOC29JL.eot");
  src: local("☺"), url("../../fonts/KNOC29JL.woff") format("woff"), url("../../fonts/KNOC29JL.ttf") format("truetype"), url("../fonts/KNOC29JL.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/** base **/
/* line 68, ../sass/main.scss */
body, label, a, a:hover {
  font-family: 'knockout29';
  font-size: 18px;
  color: #666;
}

/* line 74, ../sass/main.scss */
a, input, button {
  outline: 0 !important;
}
/* line 74, ../sass/main.scss */
a:hover, input:hover, button:hover {
  outline: 0 !important;
}

/* line 76, ../sass/main.scss */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
  text-transform: uppercase;
  color: #333;
}

/* line 82, ../sass/main.scss */
strong {
  font-family: 'knockout49';
}

/* line 86, ../sass/main.scss */
h1 {
  line-height: normal;
}

/* line 88, ../sass/main.scss */
h3, h4 {
  margin-top: 0;
}

/* line 91, ../sass/main.scss */
h3 {
  line-height: 30px;
  font-size: 30px;
}

/* line 95, ../sass/main.scss */
h4 {
  font-size: 24px;
  line-height: 28px;
}

/* line 99, ../sass/main.scss */
h5 {
  font-size: 18px;
}

/* line 102, ../sass/main.scss */
p {
  padding: 0 10px;
}

/* line 104, ../sass/main.scss */
ul {
  margin: 0 0 0px 18px;
}

/* line 108, ../sass/main.scss */
section {
  margin-bottom: 28px;
}

/* line 112, ../sass/main.scss */
img.loading {
  width: auto;
  display: inline;
  max-width: 100%;
}

/* line 120, ../sass/main.scss */
.inner-grey-shadow {
  -webkit-box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.63);
  -moz-box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.63);
  box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.63);
}

/* line 121, ../sass/main.scss */
.ico {
  background: url(../../img/sprite.png) no-repeat 0 0;
}

/* line 122, ../sass/main.scss */
.ico.next-small {
  background-position: -10px 0px;
  width: 10px;
  height: 19px;
}

/* line 126, ../sass/main.scss */
.ico.prev-big {
  background-position: -35px 0px;
  width: 34px;
  height: 59px;
}

/* line 131, ../sass/main.scss */
.ico.next-big {
  background-position: -68px 0;
  width: 34px;
  height: 59px;
}

/* line 136, ../sass/main.scss */
.ico.up-small {
  background-position: -20px 0;
  width: 14px;
  height: 8px;
}

/* line 141, ../sass/main.scss */
.tab-once-at-time {
  margin: 0 0 0 0;
  -webkit-padding-start: 0px;
}
@-moz-document url-prefix() {
  /* line 141, ../sass/main.scss */
  .tab-once-at-time {
    margin: 0 0 0 -40px;
  }
}
/* line 148, ../sass/main.scss */
.tab-once-at-time > li {
  cursor: pointer;
  display: block;
}
/* line 152, ../sass/main.scss */
.tab-once-at-time > li a {
  padding: 16px 0;
  border-top: 1px solid #cfcfcf;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #333;
  background: #f2f2f2;
}
/* line 158, ../sass/main.scss */
.tab-once-at-time > li a:hover, .tab-once-at-time > li a.selected {
  background: #fff;
}
/* line 161, ../sass/main.scss */
.tab-once-at-time > li a > span {
  padding-left: 8px;
  display: block;
}
/* line 165, ../sass/main.scss */
.tab-once-at-time > li a .ico {
  padding: 0;
  position: absolute;
  top: 50%;
}
/* line 172, ../sass/main.scss */
.tab-once-at-time > li.last a {
  border-bottom: 1px solid #cfcfcf;
}

/** layout **/
/* line 177, ../sass/main.scss */
.container {
  max-width: 960px;
}

/* line 178, ../sass/main.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 182, ../sass/main.scss */
.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

/* line 186, ../sass/main.scss */
.inner10 {
  padding: 10px;
}

@media (max-width: 767px) {
  /* line 189, ../sass/main.scss */
  body {
    padding: 0;
  }

  /* line 190, ../sass/main.scss */
  .container {
    padding: 0 20px;
  }
}
/** forms & inputs **/
/* line 194, ../sass/main.scss */
input[type="text"], input[type="email"], input[type="password"], textarea {
  background: #fff;
  border-color: rgba(204, 204, 204, 0.8);
  -webkit-box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.63);
  -moz-box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.63);
  box-shadow: inset 0px 0px 4px 2px rgba(204, 204, 204, 0.63);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 199, ../sass/main.scss */
input[type="text"].error, input[type="email"].error, input[type="password"].error, textarea.error {
  border-color: #b94a48;
}

/* line 202, ../sass/main.scss */
.button {
  position: relative;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
  color: white;
  font-family: 'knockout29';
  display: inline-block;
  border: 0;
  padding: 6px 4px 4px 4px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
}
/* line 212, ../sass/main.scss */
.button:hover {
  text-decoration: none;
}
/* line 214, ../sass/main.scss */
.button span {
  display: block;
  padding: 0px 22px 0 2px;
}
/* line 215, ../sass/main.scss */
.button span.ico {
  display: block;
  position: absolute;
  top: 50%;
  padding: 0;
  right: 6px;
}
/* line 217, ../sass/main.scss */
.button .up-small {
  margin-top: -4px;
}

/* line 220, ../sass/main.scss */
.button.button-black {
  font-size: 22px;
  width: 124px;
  background: #656565;
  /* Old browsers */
  background: -moz-linear-gradient(top, #656565 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #656565), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #656565 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #656565 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #656565 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #656565 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
/* line 224, ../sass/main.scss */
.button.button-black:hover {
  background: #656565;
  /* Old browsers */
  background: -moz-linear-gradient(top, #656565 0%, #000000 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #656565), color-stop(50%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #656565 0%, #000000 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #656565 0%, #000000 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #656565 0%, #000000 50%);
  /* IE10+ */
  background: linear-gradient(to bottom, #656565 0%, #000000 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

/* line 226, ../sass/main.scss */
.button.button-grey {
  background: #666;
}
/* line 229, ../sass/main.scss */
.button.button-grey:hover {
  background: #333;
  color: #fff;
}

/* line 233, ../sass/main.scss */
.error {
  color: #b94a48;
  display: block;
  padding: 2px 0px;
}

/** contact form **/
/* line 242, ../sass/main.scss */
.contact-us .form-horizontal .control-label {
  text-align: left;
  width: 319px;
  text-transform: uppercase;
}
/* line 248, ../sass/main.scss */
.contact-us .form-horizontal .controls {
  margin-left: 319px;
}

@media (max-width: 480px) {
  /* line 256, ../sass/main.scss */
  .contact-us .form-horizontal .controls {
    margin-left: 0;
  }
}
/** custom **/
/* line 262, ../sass/main.scss */
header h1 a {
  color: #58585a;
  margin: 24px 0 18px 0;
  display: block;
  font-size: 38px;
  background: url("../../images/logo.png") no-repeat 0 0;
  width: 169px;
  height: 55px;
  text-indent: -9999px;
}

/* line 272, ../sass/main.scss */
footer {
  border-top: 1px solid #e4e4e4;
  padding: 24px;
}

/** about us section **/
/* line 279, ../sass/main.scss */
.about-us h3, .about-us h4 {
  padding: 0 10px;
  padding-top: 0;
}
/* line 281, ../sass/main.scss */
.about-us ul li {
  padding: 2px 0;
}
/* line 283, ../sass/main.scss */
.about-us ul li a {
  text-transform: uppercase;
}

/** news section layout **/
/* line 288, ../sass/main.scss */
.news > h3 {
  background: #f2f2f2;
  padding: 14px 10px;
  margin-bottom: 0;
}
/* line 294, ../sass/main.scss */
.news article {
  background: #f2f2f2;
  border-top: 1px solid #cfcfcf;
  padding: 12px 0;
}
/* line 299, ../sass/main.scss */
.news article.first {
  border: 0;
  padding: 0;
  padding-bottom: 12px;
}
/* line 300, ../sass/main.scss */
.news article.last {
  border-bottom: 1px solid #cfcfcf;
}
/* line 301, ../sass/main.scss */
.news article h4 {
  padding: 0 10px;
}
/* line 306, ../sass/main.scss */
.news #show-less-news {
  margin-top: 10px;
}

/** look section **/
/* line 314, ../sass/main.scss */
#looks-highlight .no-look.selected {
  display: none;
}
/* line 315, ../sass/main.scss */
#looks-highlight h4 {
  margin-top: 10px;
}
/* line 317, ../sass/main.scss */
#looks-highlight .tab-once-at-time li a {
  position: relative;
  font-size: 24px;
}
/* line 320, ../sass/main.scss */
#looks-highlight .tab-once-at-time li a span {
  padding-right: 24px;
}
/* line 321, ../sass/main.scss */
#looks-highlight .tab-once-at-time li a span.next-small {
  padding: 0;
  margin-top: -10px;
  right: 6px;
}

/* line 329, ../sass/main.scss */
.span3.thumbnail-wrap {
  text-align: center;
  width: 23.404255319148934%;
  float: left;
  margin-left: 2.127659574468085%;
}

@media (max-width: 767px) {
  /* line 336, ../sass/main.scss */
  #looks-highlight .inner10 {
    padding: 10px 0;
  }
  /* line 339, ../sass/main.scss */
  #looks-highlight .info, #looks-highlight .no-look {
    padding: 0 10px;
  }
}
@media (max-width: 470px) {
  /* line 346, ../sass/main.scss */
  .span3.thumbnail-wrap {
    width: 50%;
    margin-left: 0;
  }
  /* line 348, ../sass/main.scss */
  .span3.thumbnail-wrap img.loaded {
    width: 100%;
  }
}
/** contact section **/
/* line 355, ../sass/main.scss */
.contact-us p {
  padding: 10px 0;
}

@media (max-width: 767px) {
  /* line 359, ../sass/main.scss */
  .contact-us .inner10 {
    padding: 10px 0;
  }
}
